In [1]:
import pandas as pd

In [2]:
dst1 = pd.read_csv('Dataset1.csv')
dst2 = pd.read_csv('Dataset2.csv')

In [3]:
dst1.head(10)

     Machine  Process Step     Value
0  X0002441A        0    C  0.920577
1  X0002441A        0    C  1.131612
2  X0002441A        0    C  0.689192
3  X0002441A        0    C  0.014700
4  X0002441A        0    C  0.993231
5  X0002441A        0    C  0.656724
6  X0002441A        0    C  0.632023
7  X0002441A        0    C  0.975923
8  X0002441A        0    C  1.111491
9  X0002441A        0    C  0.880685

In [4]:
dst2.head(10)

  Machine  Process Step      Value
0     P-1        0  P23  11.169551
1     P-1        0  P23  10.239201
2     P-1        0  P23  10.498562
3     P-1        0  P23  11.393318
4     P-1        0  P23  10.293653
5     P-1        0  P23   9.451925
6     P-1        0  P23  24.065633
7     P-1        0  P23  23.258712
8     P-1        0  P23  26.418404
9     P-1        0  P23  26.056583

In [13]:
machine = dst1['Machine']
process = dst1['Process']
step = dst1['Step']

In [17]:
ma_count = machine.value_counts()
pr_count = process.value_counts().sort_values()
st_count = step.value_counts()

In [46]:
import numpy as np

In [49]:
idx = pr_count.index
idx = np.array(idx)
idx.sort()
print(idx)
idx.shape

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299]

(300,)

In [20]:
print(ma_count)
print(pr_count)
print(st_count)

X0002441A    51600
Name: Machine, dtype: int64
287    172
159    172
127    172
95     172
63     172
      ...
32     172
193    172
71     172
289    172
0      172
Name: Process, Length: 300, dtype: int64
R    17888
A    17888
C    15824
Name: Step, dtype: int64

In [38]:
machine2 = dst2['Machine']
process2 = dst2['Process']
step2 = dst2['Step']

In [39]:
ma2_count = machine2.value_counts()
pr2_count = process2.value_counts()
st2_count = step2.value_counts()

In [50]:
idx2 = pr2_count.index
idx2 = np.array(idx2)
idx2.sort()
print(idx2)
idx2.shape

[  0   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  36  37
  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55
  56  57  58  59  60  61  62  63  64  66  67  68  69  70  71  72  73  74
  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92
  93  94  95  96  97  98  99 100 102 103 104 105 106 107 108 109 110 111
 112 113 114 115 116 117 119 120 121 122 123 124 125 126 127 128 129 130
 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148
 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166
 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184
 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202
 203 204 205 206 207 208 209 210 211 213 214 215 216 217 218 219 220 221
 222 223 224 225 226 228 229 230 231 232 233 234 235 236 237 238 239 240
 242 243 244 245 246 247 248 249]

(242,)

In [40]:
print(ma2_count)
print(pr2_count.apply(lambda a: a!=172))
print(st2_count)

P-1    42829
Name: Machine, dtype: int64
61     True
72     True
155    True
211    True
29     True
       ...
82     True
102    True
46     True
43     True
223    True
Name: Process, Length: 242, dtype: bool
P23    16062
P02    13677
XXC    13090
Name: Step, dtype: int64